#restaurants-list {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
}
#restaurants-list li {
	width: 250px; 
}
#restaurants-list li a {
	margin-bottom: 15px; 
}
.inside #map-container {
	width: 100%;
	height: 400px; 
}
#restaurant-img,
#restaurant-cuisine {
	width: 90%; 
}
#restaurant-hours {
	width: 90%; 
}
#restaurant-hours td {
	font-size: 20px;
}
#reviews-list li p {
	font-size: 20px;
}

